<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<title>Alarms history</title>
 <link rel="stylesheet" href="css/styles.css">
<style>
h1 {
	font-family:"Lucida Console";
}
table, th, td {
    border-collapse: collapse;
	font-family:"Lucida Console";
	font-size: 1.3em;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}
</style>
</head>

<body>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<!-- ----------------------------------------------------------- -->
<code>
<h1>Alarms history</h1>
<hr>
<table>
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Tag</th>
        <th>Tag description</th>
        <th>Func</th>
        <th>Value</th>
        <th>Eng.unit</th>
        <th>Alarm</th>
        <th>State</th>
    </tr>
    {% for alarm in alarms %}
    <tr>
        <td>{{ alarm[1] }}</td>
        <td>{{ alarm[2] }}</td>
        <td>{{ alarm[3] }}</td>
        <td>{{ alarm[4] }}</td>
        <td>{{ alarm[5] }}</td>
        <td>{{ alarm[6] }}</td>
        <td>{{ alarm[7] }}</td>
        <td>{{ alarm[8] }}</td>
        <td>{{ alarm[9] }}</td>
    </tr>
    {% endfor %}
</table>
<!-- ----------------------------------------------------------- -->

</code>
</body>
</html>
